/* all pages */

a{
    color: black;
}

a:hover{
    color: magenta;
}

.active{
    background: rgb(214, 214, 214);
}

/* index.html/Scroll */

/* According to the example givin on
    https://www.w3schools.com/howto/howto_css_parallax.asp */
.parallax-fs{
    background-image: url('http://www.goodmorningimagesforlover.com/wp-content/uploads/2018/10/dark-side-cool-background-1066x617.jpg');

    /*Set a specific height*/
    height: 500px;

    /*Parallax effect*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Some mobile devices has issues with background-attachment: fixed */
@media only screen and (max-device-width: 1366px){
    .parallax-fs{
        background-attachment: scroll;
    }
}

/* ----------------------------- */

/* reverse-s.html ---------*/

/* According to the example given on 
    https://www.taniarascia.com/parallax-scroll-effect/ */

    /* reference the section under reverse-s in scripts.js */

.parallax-container-rs{
    position: relative;
    height: 500px;
    overflow: hidden;
}

.parallax-rs{
    position: absolute;
    height: 200%;
    width: 100%;
    z-index: -1;
    background: url('http://www.goodmorningimagesforlover.com/wp-content/uploads/2018/10/dark-side-cool-background-1066x617.jpg') center center / cover no-repeat;
}

.content-rs{
    background: #fff;
}

/* --------------------------- */