a{
    color: black;
}

a:hover{
    color: magenta;
}

.active{
    background: grey;
    color: white;
}

/* According to the example givin on
    https://www.w3schools.com/howto/howto_css_parallax.asp */
.parallax-fs{
    background-image: url('http://www.goodmorningimagesforlover.com/wp-content/uploads/2018/10/dark-side-cool-background-1066x617.jpg');

    /*Set a specific height*/
    height: 500px;

    /*Parallax effect*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Some mobile devices has issues with background-attachment: fixed */
@media only screen and (max-device-width: 1366px){
    .parallax-fs{
        background-attachment: scroll;
    }
}